*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-playfair-display);
  font-size: var(--font-size-16);
  line-height: 1.5;
  color: var(--noir);
  background-color: var(--blanc);
}

/* Headings colors */
h1 {
  color: var(--moutarde);
}

h2 {
  color: var(--rouge);
}

h3 {
  color: var(--moutarde);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: none;
  background: none;
  padding: 0;
}

/* Layout général ------------------------------------ */

.main {
  display: block;
}