/* Variable collection */
:root {
  --beige: #b5ab96;
  --blanc: #f3eee5;
  --moutarde: #976819;
  --noir: #222222;
  --rouge: #841a0f;

  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-30: 1.875rem;
  --font-size-48: 3rem;
  --font-size-60: 3.75rem;
  --font-weight-regular: 25rem;
  --font-weight-bold: 43.75rem;
  --letter-spacing-0: 0rem;
  --line-height-110: 6.875rem;
  --line-height-150: 9.375rem;
  --line-height-160: 10rem;
  --list-spacing-0: 0rem;
  --paragraph-indent-0: 0rem;
  --paragraph-spacing-0: 0rem;
  
  --font-family-abril-fatface: Abril Fatface;
  --font-family-la-belle-aurore: La Belle Aurore;
  --font-family-playfair-display: Playfair Display;
}