/* fonts */
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Base */
@import "base/main.css";
@import "base/media.css";

/* Utils */
@import "utils/variables.css"; 

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";

/* components */
@import "components/button.css";
@import "components/gallery.css";
@import "components/menu.css";
@import "components/hero.css";
@import "components/stats.css";
@import "components/cards.css";
@import "components/carousel.css";
@import "components/cta.css";

@import "components/about.css";
@import "components/schedule.css";
@import "components/filtres.css";
@import "components/card.css";